<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />

<h1>Profiles index</h1>

<% @profiles.each do |profile| %>
<ul>
  <li><%= profile.name %></li>
  <li><%= profile.description %></li>
  <li><%= link_to "Download picture", profile.attachment_url %></li>
  <li><%= button_to "Delete", profile, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{profile.name}?" %></li>

</ul>
<% end %>


